@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

#contact-container {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 30px;
    margin-top: 5%;
}

#map {
    margin: auto;
    margin-bottom: 2%;
    width: 600px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#contact-info {
    width: 25%;
    margin: auto;
    margin-top: 5%;
    font-size: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
    line-height: 1.5;
}

#contact-info h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 165%;
    color: white;
}

#contact-info strong {
    color: white;
    font-size: larger;
}